<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="loise.kbc.navigationviewpagerliveo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="loise.liveo.ui.activity.TwitterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/kbc"
        android:label="@string/app_name"
        android:theme="@style/myTheme">
        <activity
            android:name="loise.kbc.ui.activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="loise.kbc.ui.activity.TimelineKbc"
            android:label="@string/title_activity_timeline_kbc" />
        <activity
            android:name="loise.kbc.ui.activity.MoreNews"
            android:label="@string/title_activity_more_news" />
        <activity
            android:name="loise.kbc.ui.activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="loise.kbc.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="loise.kbc.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="loise.kbc.ui.activity.News"
            android:label="@string/title_activity_news"
            android:theme="@style/myTheme.NoActionBar" />
        <activity android:name="loise.kbc.ui.activity.KBCTv" />
        <activity android:name="loise.kbc.ui.activity.Video" />
        <activity
            android:name="loise.kbc.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/nLiveoDrawer" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c4187f8ac4cb5d8068a1328986d55d80386316d1" />

        <activity android:name="loise.kbc.ui.activity.RadioTaifa" />
        <activity android:name="loise.kbc.ui.activity.EnglishServiceRadio" />
        <activity android:name="loise.kbc.ui.activity.CoroRadio" />
        <activity android:name="loise.kbc.ui.activity.PwaniRadio" />
        <activity android:name="loise.kbc.ui.activity.IftiinRadio" />
        <activity android:name="loise.kbc.ui.activity.LiveTv" />
        <activity android:name="loise.kbc.ui.activity.InstagramFeed" />
        <activity android:name="loise.kbc.ui.activity.Mayienga"></activity>
        <activity android:name="loise.kbc.wordpressrreader.app.MainActivity"
                  android:theme="@style/myTheme"/>
    </application>

</manifest>
